.App {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.row {
  display: flex;
}
.teamCart {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.addNameCart {
  width: 20%;
  height: 350px;
  border: 1px solid #333;
  margin-top: 25px;
  text-align: left;
  font-size: 15px;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

